* {

    margin: 0px 0px 0px 0px;
    padding: 0vh 0vh 0vh 0vh;
    border-block: none none;

}

html, body {

    background: #2e2e2e;
    width: 100dvw;
    height: 100dvh;

}

.game {
    
    opacity: 0;
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(90deg, #e5e5e5, #343434);

}

.play_game {

    width: 26vh;
    height: 12vh;
    font-size: 4vh;
    background-color: blueviolet;
    border-radius: 15px;
    border: white 2px solid;
    color: white;

}

.play_game:hover {

    background-color: rgb(75, 20, 126);

}

.up_button_m {

    left: -50dvh;
    top: 55dvh;
    width: 25vh;
    height: 25vh;

}

.down_button_m {

    left: -50dvh;
    top: 95dvh;
    width: 25vh;
    height: 25vh;

}

.left_button_m {

    left: -50dvh;
    top: 75dvh;
    width: 25vh;
    height: 25vh;

}

.right_button_m {

    left: -50dvh;
    top: 75dvh;
    width: 25vh;
    height: 25vh;

}

.a_button_m {

    right: 10dvh;
    top: 80dvh;
    width: 35vh;
    height: 35vh;

}

.b_button_m {

    right: 10dvh;
    top: 60dvh;
    width: 20vh;
    height: 20vh;

}

#button {

    font-size: 5vh;
    border-radius: 15px;
    opacity: 0.55;
    background: linear-gradient(180deg, #e5e5e5, #343434);
    border: 3px solid #000000;
    

    position: absolute;

}

#button:active {

    opacity: 0.9;

}

#button:hover {

    border: 3px solid #000000;

}

.center {

    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 10vh;

}
