* {

    margin: 0px 0px 0px 0px;
    padding: 0vh 0vh 0vh 0vh;
    border-block: none none;

}

.game {

    width: 800px;
    height: 480px;
    border-radius: 15px;
    background: linear-gradient(90deg, #e5e5e5, #343434);

}

.play_game {

    width: 26vh;
    height: 12vh;
    font-size: 4vh;

    position: absolute;
    left: 28vh;
    top: 35vh;

}
